.contacts {
    padding: 60px 0;
}

.contacts-block {
    display: flex;
    justify-content: space-between;

    address {
        font-family: var(--mainFont);
        font-weight: 300;
        font-size: 22px;
        line-height: 25px;
        font-style: normal;
        margin-bottom: 25px;
    }
    a {
        display: inline-block;
        font-family: var(--mainFont);
        font-weight: 300;
        font-size: 22px;
        line-height: 25px;
        color: #000;
        margin-bottom: 25px;
    }
}

.contacts-name {
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 50px;
}