.footer {
    background: var(--bgDark);
    padding-top: 75px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
        margin-right: 25px;
    }
}

.footer-items {
    width: 363px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 25px 150px;
    margin: 0;
    padding: 0;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
}

.footer-socials-item {
    display: flex;
    margin-right: 25px;
    align-items: flex-end;
}
.footer-socials-item:last-child{
    margin-right: 0;
}

.footer-hr {
    margin: 50px 0;
    border: none;
    height: 3px;
    background: #666;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

@media (max-width: 1024px) {
    .footer-items {
        width: 313px;
        gap: 25px 100px;
    }
}

@media (max-width: 768px) {
    .footer-wrapper {
        max-width: 728px;
        display: grid;
        grid-template-columns: 30% 60%;
    }
    .footer-logo {
        display: flex;
        justify-content: flex-start;
    }
    .footer-items {
        gap: 25px 185px;
    }
    .footer-socials{
        max-width: 340px;
        margin-top: 42px;
        grid-column-end: 3;
        margin-left: 20px;
    }
    .footer-hr {
        margin-top: 40px;
    }
}

@media (max-width: 420px) {
    .footer {
        padding-top: 40px;
    }
    .footer-wrapper {
        max-width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-logo {
        display: flex;
        justify-content: flex-start;
    }
    .footer-items {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 87px;
        margin-top: 40px;
    }
    .footer-list {
        a {
            font-weight: 200;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
        }
    }
    .footer-socials{
        max-width: 260px;
        margin-top: 40px;
        grid-column-end: 3;
        margin: 0 auto;
        margin-top: 40px;
    }
    .footer-socials-item {
        margin-right: 5px;
    }
    .footer-hr {
        margin-top: 40;
    }
    .footer-production {
        display: none;
    }
}