.welcome {
    background: var(--bgDark);
}

.welcome-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 810px;
}

.welcome-text {
    position: absolute;
    z-index: 5;
    padding-top: 150px;
    width: 598px;
}

.welcome-sliders {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    max-height: 810px;
    max-width: 1440px;;
}

.header_slide-large {
    max-width: 1000px;
    height: auto;
}

.header_slide-medium {
    display: none;
}

.img-logo {
    width: 49px;
    height: 26px;
}

.header-title {
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}

.header-subtitle {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 2px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 75px;
}

.header-btn {
    border: none;   
    border-radius: 10px;
    padding: 30px 66px;
    background: var(--darkRed);

    font-size: var(--defaultSize);
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    
    color: #fff;
}

.header-btn:hover {
    background: var(--goldFont);
    cursor: pointer;
    transition: 0.7s;
}

@media (max-width: 1024px) {
    .welcome-container {
        max-height: 700px;
    }
    .welcome-text {
        max-width: 398px;
        position: absolute;
        padding-top: 50px;
    }
    .welcome-sliders {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;
        max-height: 810px;
        max-width: 1440px;;
    }
    
    .header_slide-large {
        max-width: 700px;
        height: auto;
    }
    .header-title {
        font-family: Forum;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 5px;
    }
    .header-subtitle {
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 2px;
        margin-top: 0;
        color: #FFFFFF;
        margin-bottom: 50px;
    }
    .header_slide-image {
        max-width: 700px;
    }
    .header-btn {
        display: inline-block;
        padding: 17px 37px;
    }
}

@media (max-width: 768px) {
    .welcome-container {
        max-height: 861px;
        display: block;
    }
    .welcome-sliders {
        position: relative;
    }
    .header-title {
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 5px;
        text-align: center;
        color: #fff;
    }
    .header-subtitle {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: 2px;
        text-align: left;
        color: #fff;   
        text-align: center;   
    }
    .header-btn{
        display: none;
    }
    .welcome-text {
        position: relative;
        margin: 0 auto;
        padding-top: 0;
        width: 332px;
        height: 165px;
        margin-bottom: 50px;
    }
    .welcome-sliders {
        display: block;
    }
    .header_slide-large {
        display: none;
    }
    .header_slide-medium {
        display: block;
    }
    .header_slide-image {
        max-width: 100%;
        height: auto;
    }
}   

@media (max-width: 420px) {
    .welcome {
        padding-bottom: 20px;
    }
    .welcome-container {
        max-height: 544px;
    }
    .header-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 5px;
        text-align: center;
        color: #fff;
    }
    .header_logo-link {
        width: 200px;
    }
    .header-subtitle {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: 2px;
        text-align: left;
        color: #fff;   
        text-align: center;   
    }
    .header-btn{
        display: none;
    }
    .welcome-text {
        position: relative;
        margin: 0 auto;
        padding-top: 0;
    }
    .welcome-sliders {
        display: block;
    }
    .header_slide-large {
        display: none;
    }
    .header_slide-medium {
        width: 100%;
        display: block;
    }
    .header_slide-image {
        max-width: 100%;
        height: auto;
    }
}