.video {
    padding: 75px 0;
}

.video-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    h2 {
        width: 50%;
        margin: 0;
    }

    p {
        display: flex;
        align-items: center;
        width: 50%;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        margin: 0;
    }
}

.video-museum {
    text-align: center;
    margin-bottom: 40px;

    iframe {
        width: 100%;
        height: 735px;
    }
}

.recomend-video {
    display: flex;
    justify-content: space-between;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.recomend-video-block {
    // border: 1px solid black;
    width: 452px;
    height: 254px;
    margin-bottom: 40px;
}

.video-btn-scroll {
    margin: 0 auto;
    height: 12px;
    width: 212px;
    background: #000;
}