:root{
    --mainFont: 'Roboto', sans-serif;
    --forumFont: 'Forum', cursive;
    --defaultSize: 22px;
    --bgDark: #030303;
    --darkRed: #710707;
    --goldFont: #9d8665;
    --activeColor: #7E6C51;
}